<div class="banner">
  <%= image_tag "https://images.unsplash.com/photo-1487284122274-e864e9dec2bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80" , class:"banner-img" %>
  <h1 class="contactbannertitle text-center ">About Us</h1>
</div>
<div class="container p-2 mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12 mx-auto d-block">
            <p class="leadp text-dark">Auzmena Trading LLC was established in 2017 with our first collaboration Wanted Shoes Australia from the Munro Group who have over 300 stores Australia wide.

The company’s main focus is franchising unique international master brands throughout the MENA region. Our aim is to expand the market for both the company and product, in return providing a point of difference to appeal to each region. </p>
        </div>
        <div class="col-md-6 col-sm-12 mx-auto d-block">
        <%= image_tag "whitenoise" %>
        </div>
    </div>
</div>