<!-- ====== About Section Start -->
<section class="pt-20 lg:pt-[120px] pb-12 lg:pb-[90px] overflow-hidden bg-white px-8">
   <div class="container">
      <div class="flex flex-wrap justify-between items-center -mx-4">
         <div class="w-full lg:w-6/12 px-4">
            <%= image_tag ("ABOUT-US-PAGE/IMAGE.jpg") , class:"rounded-2xl w-full" %>
         </div>
         <div class="w-full lg:w-1/2 xl:w-5/12 px-8">
            <div class="mt-10 lg:mt-0">
               <h2 class="font-bold text-3xl sm:text-4xl text-neutral-800 mb-8">
                  About Us ?
               </h2>
               <p class="text-base text-body-color mb-8 text-neutral-800">
                  Auzmena Trading LLC was established in 2016 and is currently based in Dubai, U.A.E. The
                  multi-holding company focuses on franchising international master brands throughout the
                  MENA region along with its own in-house production. The aim is to expand the market for all the
                  affiliated brands throughout the Middle-east, Europe and the US. With a lot of new investors
                  coming on board, AUZMENA is constantly sourcing new brands and growing the team through
                  online platforms and new stores across the Middle-East.
               </p>
               <h3 class="font-bold text-1xl text-lg text-neutral-800 mb-8">
                  IN-HOUSE PRODUCTION
               </h3>
               <p class="text-base text-body-color mb-12 text-neutral-800">
                  The in-house brand was established in 2016 and named White Noise The Label. The label is the center of creativity, in which all our designs and products are carefully picked to appeal to the current fashion trends. 
                  The brand’s focus is quality and unique products at affordable prices.
               </p>
               <%= link_to "Contact Us", new_contact_url, class:"text-center inline-block block w-full rounded bg-indigo-600 my-3 px-12 py-3 text-sm font-medium text-white shadow hover:bg-indigo-700 focus:outline-none focus:ring active:bg-indigo-500 sm:w-auto" %>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- ====== About Section End -->
