<div class="hero h-64" style="background-image: url(https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">A MODERN WORK PLACE</h1>
            <%= link_to "Get in touch", new_contact_url, class:"btn btn-primary" %>
    </div>
  </div>
</div>

<section class="bg-white">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-lg text-center">
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl ">
            AUZMENA LLC
      </h2>

      <p class="text-black sm:mt-4 sm:block tracking-wide">
         At Auzmena, we really do believe in Possibilities and the values that put them within reach. Working at Auzmena offers a broad range of opportunities for candidates from all walks in life, from students and recent graduates to experienced managers.<br/> Our business model involves us at every stage of the retail sector in more than a dozen markets around the world, so we offer a diverse range of roles and locations.
            <br/>
      </p>
    </div>
  </div>
</section>

<div class="hero h-64" style="background-image: url(https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Start a career with Us</h1>
      <%= link_to "Get in touch", new_contact_url, class:"btn btn-primary" %>
    </div>
  </div>
</div>