
<section class="overflow-hidden bg-white sm:grid sm:grid-cols-2 p-5">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-center sm:text-left">
      <div class="mx-auto max-w-xl text-center sm:text-left">
        <h2 class="font-bold text-3xl mb-4 text-neutral-800">Ecommerce Integration</h2>

        <div class="mt-4 md:mt-8">
          <p class="mb-6 text-neutral-800">
            Auzmena supports its own in-house brand providing its own e-commerce platform. as well as offering our wholesalers a one stop solution of creating their e-commerce site for a small management fee.
          </p>
        </div>
      </div>
    </div>
  </div>

  <img
    alt="Auzmena Wholesale"
    src="https://images.unsplash.com/photo-1487611459768-bd414656ea10?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
    class="h-56 w-full object-cover sm:h-full"
  />
</section>

<section class="overflow-hidden bg-white sm:grid sm:grid-cols-2 p-5 mt-10">

  <%= image_tag "commerce/6th-Street-page.jpg", :class=>"h-56 w-full object-cover sm:h-full",:style=>"max-height: 700px" %>

  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-center sm:text-left">
      <h4 class="text-2xl font-bold text-gray-900 md:text-3xl">
        Easy Ecommerce Integration
      </h4>

      <p class="text-neutral-800 md:mt-4 md:block">
       We also create partnerships with other e-commerce platform with integrating our products on their website such as our partner, 6th street.com by Apparel Group
      </p>

      <div class="mt-4 md:mt-8">
        <a href="#" class="inline-block rounded bg-indigo-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-yellow-400" style="background-color: black;">
          Wanna Work With Us
        </a>
      </div>
    </div>
  </div>
</section>

<%= render "layouts/services"%>
