<section class="overflow-hidden bg-white sm:grid sm:grid-cols-2 p-5">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-center sm:text-left">
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        Franchise
      </h2>

      <div class="mt-4 md:mt-8">
        <a href="#" class="inline-block rounded bg-indigo-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-yellow-400" style="background-color: black;">
          BECOME A FRANCHISE PARTNER
        </a>
      </div>
    </div>
  </div>

  <img
    alt="Auzmena Wholesale"
    src="https://images.unsplash.com/photo-1487611459768-bd414656ea10?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
    class="h-56 w-full object-cover sm:h-full"
  />
</section>

<section class="overflow-hidden bg-white sm:grid sm:grid-cols-2 p-5 mt-10">
  <%= image_tag "f_left.jpg", :class=>"h-56 w-full object-cover sm:h-full",:style=>"max-height: 700px" %>

  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-center sm:text-left">
      <h4 class="font-bold text-3xl mb-4 text-neutral-800">Retail stores</h4>

      <div class="mt-4 md:mt-8">
        <p class="mb-6 text-neutral-800">
         AUZMENA’s future business model holds franchising as an expansion strategy for brand recognition throughout the middle-east and europe. This will not only benefit the brand itself by selling the rights but provide opportunities for the franchisee as well.
        </p>
      </div>
    </div>
  </div>
</section>

<%= render "layouts/services"%>
