    <%=render "layouts/hero"%>

<div class="container">
    <div class="d-flex flex-row justify-content-center">
        <div class="col-md-4 col-sm-12">
            <%= image_tag "icon.png", class:"card-icon justify-content-center " %>
        </div>
        <div class="col-md-4 col-sm-12">
            <%= image_tag "icon.png", class:"card-icon justify-content-center" %>
        </div>
        <div class="col-md-4 col-sm-12">
            <%= image_tag "icon.png", class:"card-icon justify-content-center" %>
        </div>
    
    </div>
</div>