
    <%= render "layouts/hero"%>
    <%= render "layouts/sections" %>
    <%= render "layouts/services" %>
    <%= render "layouts/team" %>
    <section class="">
 
    <div class="map">  
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14439.38262656364!2d55.2764285!3d25.208427!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x40969e56c2aad502!2sEmirates%20Financial%20Towers!5e0!3m2!1sen!2str!4v1663972988728!5m2!1sen!2str" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>      
        
    </div>
</section>
