<section class="container privacy_policy" style="width: 62%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;"
>
  <div class="row">
    <h2 style="text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;">PRIVACY POLICY</h2>
    <div class="privacy-point">
      <b>Introduction</b>
      <p>This Privacy Policy outlines the information that we collect, how we use it, and the choices you have regarding your personal information.</p>
    </div>

    <div class="privacy-point">
      <b>Information we collect</b>
      <p>We collect personal information such as your name, email address, and any other information you choose to provide when you use our website.</p>
    </div>

    <div class="privacy-point">
      <b>How we use the information</b>
      <p>We use the information we collect to provide and improve our services, respond to your inquiries, and send you relevant information.</p>
    </div>

    <div class="privacy-point">
      <b>Sharing of information</b>
      <p>We do not sell, trade, or otherwise transfer your personal information to outside parties unless we have your permission or are required by law to do so.</p>
    </div>

    <div class="privacy-point">
      <b>Data Security</b>
      <p>We implement reasonable security measures to protect your personal information from unauthorized access, alteration, or destruction.</p>
    </div>

    <div class="privacy-point">
      <b>Changes to this Privacy Policy</b>
      <p>We reserve the right to update this Privacy Policy at any time and will notify you of any changes through our website.</p>
    </div>

    <div class="privacy-point">
      <b>Contact Us</b>
      <p>If you have any questions or concerns about our Privacy Policy, please contact us at mario@auzmena.com.</p>
    </div>

    <div class="privacy-point">
      By using our website, you acknowledge and agree to our Privacy Policy.
    </div>
  </div>
</section>
