
<section class="overflow-hidden bg-white sm:grid sm:grid-cols-2 p-5">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-center sm:text-left">
      <h2 class="font-bold text-3xl mb-4 text-neutral-800">Retail Services</h2>

      <div class="mt-4 md:mt-8">
        <p class="mb-6 text-neutral-800">
          Auzmena currently has multiple stores for White Noise The Label at prime locations across the
          UAE, Mirdif city center and City Walk Mall being some of the main retail outlets with the plan of
          future expansion to the Dubai Hills. White Noise The Label is an emerging Auzmena brand and
          is currently in discussions for franchising with strategic retail partners throughout the MENA
          region.
          <br><br>
          <b>500+ DESIGNS</b><br>
          With an increase in extensive designs in the footwear and bag’s fashion world,White
          Noise The Label offers all the trending designs from around the globe and is dedicated
          to consumer needs, quality and competitive pricing being a paramount.
        </p>
      </div>
    </div>
  </div>


  <%= image_tag "retail1.jpeg",:class=>"h-56 w-full sm:h-full",:style=>"max-height: 600px;object-fit: cover;" %>
</section>

<section class="overflow-hidden bg-white sm:grid sm:grid-cols-2 p-5 mt-10">

  <%= image_tag "LOWER-IMAGE.jpg", :class=>"h-56 w-full object-cover sm:h-full",:style=>"max-height: 700px" %>

  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-center sm:text-left">
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        Auzmena's Retail chain
      </h2>

      <p class="text-neutral-800 md:mt-4 md:block">
       We offer a multiple physical locations within the biggest malls in Dubai.

      </p>

      <div class="mt-4 md:mt-8">
        <a href="#" class="inline-block rounded bg-indigo-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-yellow-400" style="background-color: black;">
          CONTACT US
        </a>
      </div>
    </div>
  </div>
</section>

<%= render "layouts/services"%>
