<section class="container privacy_policy" style="width: 62%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;"
>
  <div class="row">
    <h2 style="text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;">TERMS OF USE</h2>
    <div class="privacy-point">
      <b>Use of Website</b>
      <p>The contents of this website, including text, graphics, images, logos, and other material (collectively referred to as “Content”), are for informational purposes only and are not intended to be a substitute for professional advice. The Content is provided “as is” and without warranties of any kind, either express or implied.</p>
    </div>

    <div class="privacy-point">
      <b>Intellectual Property</b>
      <p>The Content of this website is protected by copyright, trademark, and other laws of both the United States and foreign countries. You may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any Content or information obtained from this website without the prior written consent of Auzmena.</p>
    </div>

    <div class="privacy-point">
      <b>User Submissions</b>
      <p>By submitting any material or content to this website, you grant Auzmena a non-exclusive, perpetual, irrevocable, royalty-free, fully-paid, worldwide license to use, copy, display, perform, distribute, and create derivative works from such material in any and all media, in any manner, in whole or in part, without any restriction or responsibilities to you.</p>
    </div>

    <div class="privacy-point">
      <b>Disclaimers and Limitation of Liability</b>
      <p>Auzmena makes no representation or warranty of any kind, express or implied, as to the operation of this website or the information, content, materials or products included on this site. You expressly agree that your use of this website is at your sole risk.</p>
    </div>

    <div class="privacy-point">
      <b>Indemnification</b>
      <p>You agree to indemnify and hold Auzmena, its officers, employees, agents, and suppliers harmless from any claim or demand, including reasonable attorneys’ fees, made by any third party due to or arising out of your use of this website, the violation of these Terms of Use by you, or the infringement by you of any intellectual property or other right of any person or entity.
</p>
    </div>

    <div class="privacy-point">
      <b>Governing Law</b>
      <p>These Terms of Use shall be governed by and construed in accordance with the laws of the State of [State], without giving effect to any principles of conflicts of law.
</p>
    </div>

    <div class="privacy-point">
      <b>Changes to Terms of Use</b>
      <p>Auzmena reserves the right to modify or update these Terms of Use at any time without prior notice. Your continued use of this website following the posting of changes to these Terms of Use constitutes your acceptance of those changes.</p>
    </div>
  </div>
</section>
