
<section class="overflow-hidden bg-white sm:grid sm:grid-cols-2 p-5">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-center sm:text-left">
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        White Labeling
      </h2>

      <p class="text-neutral-800 md:mt-4 md:block">
       We have always had our own design team working on our shoes and we have created a line of high quality leather shoes for women. Our aim is to create a unique product that combines fashion and comfort.

      </p>

      <div class="mt-4 md:mt-8">
        <a href="#" class="inline-block rounded bg-indigo-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-yellow-400" style="background-color: black;">
          Get A Quote Today
        </a>
      </div>
    </div>
  </div>


  <%= image_tag "UPPER-IMAGE.jpg",:class=>"h-56 w-full sm:h-full",:style=>"max-height: 600px;object-fit: cover;" %>
</section>

<section class="overflow-hidden bg-white sm:grid sm:grid-cols-2 p-5 mt-10">

  <%= image_tag "wtl5.jpeg", :class=>"h-56 w-full object-cover sm:h-full",:style=>"max-height: 700px" %>

  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-center sm:text-left">
      <div class="mt-4 md:mt-8">
        <p class="mb-6 text-neutral-800">
          White labeling is an initiative taken by the Auzmena Group that allows other brands and
          influencers to create their own custom collection under the brand’s name. The clients can either
          choose designs from our showroom or customize it based on their style and preferences. This
          product line will then be manufactured in Turkey, where our factories are based.
        </p>
      </div>
    </div>
  </div>
</section>

<%= render "layouts/services"%>
