
<section class="overflow-hidden bg-white sm:grid sm:grid-cols-2 p-5">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto text-center sm:text-left">
      <h2 class="font-bold text-3xl mb-4 text-neutral-800">Wholesale and Manufacturing</h2>

      <p class="text-neutral-800 md:mt-4 md:block">
       <%= image_tag "wtl61.jpeg" %>
      </p>


    </div>
  </div>

  <%= image_tag "wholesale1.jpeg", :class=>"h-56 w-full object-cover sm:h-full",:style=>"max-height: 500px" %>
</section>


<section class="overflow-hidden bg-white sm:grid sm:grid-cols-2 p-5 mt-10">

  <%= image_tag "Wholesale/LOWER-LEFT-IMAGE.jpg", :class=>"h-56 w-full object-cover sm:h-full",:style=>"max-height: 700px" %>

  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-center sm:text-left">
      <h4 class="font-bold text-3xl mb-4 text-neutral-800">Wholesale Services</h4>

      <div class="mt-4 md:mt-8">
        <p class="mb-6 text-neutral-800">
          AUZMENA’s in-house production line is an excellent option for our international potential clients
          when it comes to buying fashion footwear and trendy bags in bulk. The production has nearly
          everything that's trending in the fashion world of the respective categories.
          <br><br>
          One striking thing about AUZMENA’s wholesale service is its rapid delivery speeds and that it is shipped
          world-wide with its in-house manufacturing and marketing based in Turkey.
        </p>
      </div>

      <div class="mt-4 md:mt-8">
        <a href="#" class="inline-block rounded bg-indigo-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-yellow-400" style="background-color: black;">
          Get A Quote Today
        </a>
      </div>
    </div>
  </div>
</section>

<%= render "layouts/services"%>
