
<section class="iconCards ">
        <div class="itemcards">
            <i class="fa-solid fa-box card-icon mx-auto d-block text-center awsomecard"></i>
            <h3 class="itemcardstitle text-center">Wholesale</h3>
            <p class="cardlead text-center text-dark mx-auto">Lorem ipsum is placeholder text commonly used in the graphic, print.</p>
        </div>
        <div class="itemcards">
            <i class="fa-solid fa-copyright card-icon mx-auto d-block text-center awsomecard"></i>
            <h3 class="itemcardstitle text-center">Retail</h3>
            <p class="cardlead text-center text-dark mx-auto">Lorem ipsum is placeholder text commonly used in the graphic, print.</p>

        </div>
        <div class="itemcards">
            <i class="fa-solid fa-industry card-icon mx-auto d-block text-center awsomecard"></i>
            <h3 class="itemcardstitle text-center">E-commerce</h3>
            <p class="cardlead text-center text-dark mx-auto">Lorem ipsum is placeholder text commonly used in the graphic, print.</p>

        </div>
</section>  
<section class="iconCards">
   <div class="itemcards hover:pg-rose-600">
            <i class="fa-solid fa-industry card-icon mx-auto d-block text-center awsomecard"></i>
            <h3 class="itemcardstitle text-center">Collabs</h3>
            <p class="cardlead text-center text-dark mx-auto">Lorem ipsum is placeholder text commonly used in the graphic, print.</p>

        </div>
           <div class="itemcards">
            <i class="fa-solid fa-industry card-icon mx-auto d-block text-center awsomecard"></i>
            <h3 class="itemcardstitle text-center">Collabs</h3>
            <p class="cardlead text-center text-dark mx-auto">Lorem ipsum is placeholder text commonly used in the graphic, print.</p>

        </div>
           <div class="itemcards">
            <i class="fa-solid fa-industry card-icon mx-auto d-block text-center awsomecard"></i>
            <h3 class="itemcardstitle text-center">Collabs</h3>
            <p class="cardlead text-center text-dark mx-auto">Lorem ipsum is placeholder text commonly used in the graphic, print.</p>

        </div>
</section>