<section class="heroSection">
    <div class="heroContainer">
        <h1 class="heroTitle">Way for a new<br/> business partner.</h1>
        <a class="herobtn" href="#">Join Us</a>
        <p class="heroLead">Lorem text about the company and a lot more information 
to give an idea about how the company do business.</p>
    </div>

</section>