<section class="heroSection hidden">
    <div class="heroContainer">
        <h1 class="heroTitle">Way for a new<br/> business partner.</h1>
        <%= link_to "Join Us", new_contact_url  , class:"herobtn" %>
        <p class="heroLead">Lorem text about the company and a lot more information 
to give an idea about how the company do business.</p>
    </div>

</section>