<section class="logosection" >
    <%= image_tag "1", class:'logoslide' %>
    <%= image_tag "2", class:'logoslide' %>
    <%= image_tag "3", class:'logoslide' %>
    <%= image_tag "4", class:'logoslide' %>
</section>