 <nav class="navbar">
     <!-- LOGO -->
     <a href="/" class="logo">Auzmena</a>
     <!-- NAVIGATION MENU -->
     <ul class="nav-links">
       <!-- USING CHECKBOX HACK -->
       <input type="checkbox" id="checkbox_toggle" />
       <label for="checkbox_toggle" class="hamburger">&#9776;</label>
       <!-- NAVIGATION MENUS -->
       <div class="menu">
       <li><a href="/login" class="">Our Services</a></li>
         <li><a href="/contact">About Us</a></li>
         <li><a href="/about">Our Business</a></li>
         <li><a href="/contact">Contact</a></li>
       </div>
     </ul>
   </nav>
