<div class="navbar bg_dark_pink">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost xl:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </label>
      <ul tabindex="0" class=" menu menu-compact dropdown-content mt-3 p-2 shadow bg_dark_pink rounded-box w-52" style="z-index:999">
        <li><a href="/about" class="text-white">WHO WE ARE</a></li>
        <li tabindex="0">
          <a class="justify-between text-white " style="z-index: 999">
            OUR SERVICES
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/></svg>
          </a>
          <ul class="p-2 z-50 nested_ul" style="border: 1px solid lightgray;">
            <li class="bg_dark_pink text-white"><a href="/wholesale">WHOLESALE</a></li>
            <li class="bg_dark_pink text-white"><a href="/retail">RETAIL</a></li>
            <li class="bg_dark_pink text-white"><a href="/white-labeling">WHITE LABELING</a></li>
            <li class="bg_dark_pink text-white"><a href="/ecommerce">E-COMMERCE</a></li>
            <li class="bg_dark_pink text-white"><a href="/franchise">FRANCHISE</a></li>
            <li class="bg_dark_pink text-white"><a href="/collaborations">COLLABORATIONS</a></li>
          </ul>
        </li>
        <li tabindex="0">
          <a class="justify-between text-white">
              OUR BRANDS
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/></svg>
          </a>
          <ul class="p-2 nested_ul" style="z-index:999">
            <li class="bg_dark_pink text-white"><a href="/white-noise-the-label">WHITE NOISE THE LABEL</a></li>
            <li class="bg_dark_pink text-white"><a href="/wnx">WNX</a></li>
            <li class="bg_dark_pink text-white"><a href="/wntl">WNTL</a></li>
            <li class="bg_dark_pink text-white"><a href="/aziel">AZIEL</a></li>
            <li class="bg_dark_pink text-white"><a href="/heal">HEEAL</a></li>
            <li class="bg_dark_pink text-white"><a href="/ours">OURS</a></li>
          </ul>
        </li>
            <li><a href="/careers" class="text-white">CAREERS</a></li>
            <!-- <li><a href="/customerservice" class="text-white">CUSTOMER SERVICE</a></li> -->
            <li tabindex="0">
              <a class="justify-between text-white">
                OUR TEAM
                <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/></svg>
              </a>
              <ul class="p-2">
                <li class="bg_dark_pink text-white" class="text-white"><a href="/ceo-tugba">CEO</a></li>
                <li class="bg_dark_pink text-white" class="text-white"><a href="/coo">COO</a></li>
              </ul>
            </li>
            <li><a href="/contacts/new" class="text-white">CONTACT US</a></li>
            <<!-- li><a href="/our-stores" class="text-white">OUR STORES</a></li> -->
      </ul>
    </div>
    <a href="/">
      <%= image_tag "new_logo.jpg",:class=>"logo" %>
    </a>
  </div>
  <div class="navbar-center hidden xl:flex">
    <ul class="menu menu-horizontal p-0" style="z-index:999;">
      <li><a href="/about" class="text-white">WHO WE ARE</a></li>
      <li tabindex="0">
        <a class="text-white">
          OUR SERVICES
          <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
        </a>
        <ul class="p-2 nested_ul" style="border: 1px solid lightgray;">
            <li class="bg_dark_pink text-white"><a  href="/wholesale">WHOLESALE</a></li>
            <li class="bg_dark_pink text-white"><a  href="/retail">RETAIL</a></li>
            <li class="bg_dark_pink text-white"><a  href="/white-labeling">WHITE LABELING</a></li>
            <li class="bg_dark_pink text-white"><a href="/ecommerce">E-COMMERCE</a></li>
            <li class="bg_dark_pink text-white"><a href="/franchise">FRANCHISE</a></li>
            <li class="bg_dark_pink text-white"><a href="/collaborations">COLLABORATIONS</a></li>
        </ul>
      </li>
      <li tabindex="0">
        <a class="text-white">
          OUR BRANDS
          <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
        </a>
        <ul class="p-2 nested_ul" style="border: 1px solid lightgray;">
          <li class="bg_dark_pink text-white"><a  href="/white-noise-the-label">WHITE NOISE THE LABEL</a></li>
          <li class="bg_dark_pink text-white"><a href="/wnx">WNX</a></li>
          <li class="bg_dark_pink text-white"><a href="/wntl">WNTL</a></li>
          <li class="bg_dark_pink text-white"><a href="/aziel">AZIEL</a></li>
          <li class="bg_dark_pink text-white"><a href="/heal">HEEAL</a></li>
          <li class="bg_dark_pink text-white"><a href="/ours">OURS</a></li>
        </ul>
      </li>
           <li><a href="/careers" class="text-white">CAREERS</a></li>
            <!-- <li><a href="/customer-service" class="text-white">CUSTOMER SERVICE</a></li> -->
            <li><a href="/contacts/new" class="text-white">CONTACT US</a></li>
            <!-- <li><a href="/our-stores" class="text-white">OUR STORES</a></li> -->
    </ul>
  </div>
  <div class="navbar-end">
   
  </div>
</div>
