<div class="hero h-95 home_banner">
  <div class="hero-content text-center text-white">
    <!-- <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">AUZMENA</h1>
    </div> -->
  </div>
</div>

<!-- <section>
  <div>
    <div id="downloads-filter" class="position-relative d-none d-lg-flex align-items-center justify-content-around flex-wrap">
      <div class="faq-product-buttons text-center inspiration-menu dark_pink">
        <a href="#about"><span>About</span></a>
        <a href="#services"><span>Services</span></a>
        <a href="#Luxury Rooms"><span>Join Us</span></a>
        <a href="#Trends"><span>Team</span></a>
      </div>
    </div>
  </div>
</section> -->

<section class="bg-white">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-lg text-center">
      <h2 class="text-2xl font-bold md:text-3xl dark_pink" style="font-size: 35px;">
        WHO WE ARE
      </h2>
      <p class="text-black sm:mt-4 sm:block dark_pink" style="font-size: 21px;">
        Auzmena Trading LLC was established in 2016 and is currently based in Dubai, U.A.E.
        The company focuses on franchising international master brands throughout the MENA region along with its recent in-house production of footwear.
        <br/>
        <a href="/about">
      <div class="mt-4 inline-block border-b border-pink pb-1 font-medium dark_pink">
        Find out more
      <span aria-hidden="true">&rarr;</span>
      </div>
      </a>
      </p>
    </div>
  </div>
</section>

<section
  class="overflow-hidden bg-fixed bg-cover bg-center bg-no-repeat mid_section">
  <div class="bg-black/25 p-20 md:p-12 lg:px-16 lg:py-24">
    <div class="max-w-lg text-center sm:text-left">
      <h2 class="text-2xl font-bold sm:text-3xl md:text-5xl" style="color: white;">
        IN-HOUSE PRODUCTION
      </h2>
      <p class="hidden max-w-md md:mt-6 md:block md:text-lg md:leading-relaxed" style="color: white;">
        Our footwear factory is located in Istanbul Turkey, offering recent trend designs, one stop solution, and high quality manufacturing.
      </p>
      <div class="mt-4 sm:mt-8">
        <%= link_to "Get in touch", new_contact_url, class:"text-center inline-block block w-full rounded bg_dark_pink my-3 px-12 py-3 text-sm font-medium text-white shadow hover:bg-gray-700 focus:outline-none focus:ring active:bg-primary-500 sm:w-auto" %>
      </div>
    </div>
  </div>
</section>
<!-- Section 2 -->
