
<section class="py-20"> 
   <div class="container mx-auto">
         <div class="text-center mx-auto mb-12 lg:mb-20 max-w-[510px]">
                        <span class="font-semibold text-lg text-rose-600 mb-2 block">
                        Our Services
                        </span>  
                        <h2
                           class="
                           font-bold
                           text-3xl
                           sm:text-4xl
                           md:text-[40px]
                           text-dark
                           mb-4
                           "
                           >
                           What We Offer
                        </h2>
                        <p class="text-base text-body-color">
                        </p>
         </div>
         <div class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-3">

            <a
            href="#"
            class="block overflow-hidden rounded-lg border border-gray-100 shadow-sm"
            >
            <img
               alt="Office"
               src="https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
               class="h-56 w-full object-cover"
            />

            <div class="p-6">
               <h3 class="text-xl font-bold">
                 Wholesale
               </h3>

               <p class="mt-2 text-sm text-gray-500">
                  AUZMENA’s in-house production line is an excellent option when it comes to buying fashion footwear and trendy bags in bulk.
               </p>

               <div
                  class="mt-4 inline-block border-b border-blue-500 pb-1 font-medium text-blue-600"
               >
                  Find out more
                  <span aria-hidden="true">&rarr;</span>
               </div>
            </div>
            </a>
            <a
            href="#"
            class="block overflow-hidden rounded-lg border border-gray-100 shadow-sm"
            >
            <img
               alt="Office"
               src="https://images.unsplash.com/photo-1441986300917-64674bd600d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
               class="h-56 w-full object-cover"
            />

            <div class="p-6">
               <h3 class="text-xl font-bold">
                  Retail
               </h3>

               <p class="mt-2 text-sm text-gray-500">
                  Multiple stores across the UAE, Mirdif city center, City Walk Mall, Dubai Hills Mall, and Vida Beach Resort in Dubai.
               </p>

               <div
                  class="mt-4 inline-block border-b border-blue-500 pb-1 font-medium text-blue-600"
               >
                  Find out more
                  <span aria-hidden="true">&rarr;</span>
               </div>
            </div>
            </a>
            <a
            href="#"
            class="block overflow-hidden rounded-lg border border-gray-100 shadow-sm"
            >
            <img
               alt="Office"
               src="https://images.unsplash.com/photo-1556742111-a301076d9d18?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
               class="h-56 w-full object-cover"
            />

            <div class="p-6">
               <h3 class="text-xl font-bold">
                  White Labeling
               </h3>

               <p class="mt-2 text-sm text-gray-500">
                  We offer a catalogue of original designs to be added to your collection and in your brand's name.
               </p>

               <div
                  class="mt-4 inline-block border-b border-blue-500 pb-1 font-medium text-blue-600"
               >
                  Find out more
                  <span aria-hidden="true">&rarr;</span>
               </div>
            </div>
            </a>
            <a
            href="#"
            class="block overflow-hidden rounded-lg border border-gray-100 shadow-sm"
            >
            <img
               alt="Office"
               src="https://images.unsplash.com/photo-1487611459768-bd414656ea10?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
               class="h-56 w-full object-cover"
            />

            <div class="p-6">
               <h3 class="text-xl font-bold">
                  E-commerce
               </h3>

               <p class="mt-2 text-sm text-gray-500">
                  Easy integration with multiple online platforms, Woocommerce, Shopify, Magento and Prestashop.
               </p>

               <div
                  class="mt-4 inline-block border-b border-blue-500 pb-1 font-medium text-blue-600"
               >
                  Find out more
                  <span aria-hidden="true">&rarr;</span>
               </div>
            </div>
            </a>
            <a
            href="#"
            class="block overflow-hidden rounded-lg border border-gray-100 shadow-sm"
            >
            <img
               alt="Office"
               src="https://images.unsplash.com/photo-1592329347810-258afdd206bb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80"
               class="h-56 w-full object-cover"
            />

            <div class="p-6">
               <h3 class="text-xl font-bold">
                  Collabs
               </h3>

               <p class="mt-2 text-sm text-gray-500">
                  White Noise The Label collaborates with influencers to create their own signature collection.
               </p>

               <div
                  class="mt-4 inline-block border-b border-blue-500 pb-1 font-medium text-blue-600"
               >
                  Find out more
                  <span aria-hidden="true">&rarr;</span>
               </div>
            </div>
            </a>
            <a
            href="#"
            class="block overflow-hidden rounded-lg border border-gray-100 shadow-sm"
            >
            <img
               alt="Office"
               src="https://images.unsplash.com/photo-1551836022-b06985bceb24?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
               class="h-56 w-full object-cover"
            />

            <div class="p-6">
               <h3 class="text-xl font-bold">
                  Franchise
               </h3>

               <p class="mt-2 text-sm text-gray-500">
                 AUZMENA’s future business model holds franchising as an expansion strategy for brand recognition.
               </p>

               <div
                  class="mt-4 inline-block border-b border-blue-500 pb-1 font-medium text-blue-600"
               >
                  Find out more
                  <span aria-hidden="true">&rarr;</span>
               </div>
            </div>
            </a>

         </div>
   </div>
</section>

 <div class="w-full p-5">

    <div class="container flex flex-col xl:flex-row mx-auto px-5 py-8 xl:py-14 text-gray-500 bg-rose-200 rounded-2xl">

      <div class="w-full mb-6 xl:mb-0 sm:text-center">

        <div class="mb-4 text-gray-900 text-3xl font-extrabold">Join 2,000+ subscribers</div>

        <div class="text-lg">Stay in the loop with everything you need to know.</div>

      </div>

      <div class="w-full">

        <div class="flex flex-col justify-center sm:flex-row gap-3 w-full">

          <input type="text" placeholder="Enter your email" class="sm:w-2/4 h-12 p-3 text-gray-900 border border-solid border-gray-300 rounded-lg shadow">

          <button type="submit" class="sm:w-1/4 h-12 text-white bg-rose-600 rounded-lg shadow transition-all duration-300 ease-in-out hover:bg-rose-800">Subscribe</button>

        </div>

        <div class="mt-3 text-sm sm:text-center">We care about your data in our <u class="cursor-pointer transition-all duration-300 ease-in-out hover:text-gray-700">privacy policy</u>.</div>

      </div>

    </div>

  </div>