<!-- ====== Team Section Start -->
<section class="pt-20 lg:pt-[120px] pb-10 lg:pb-20">
   <div class="container">
      <div class="flex flex-wrap -mx-4">
         <div class="w-full px-4">
            <div class="text-center mx-auto mb-[60px] max-w-[510px]">
               <span class="font-semibold text-lg text-primary mb-2 block">
               Our Team
               </span>
               <h2
                  class="
                  font-bold
                  text-3xl
                  sm:text-4xl
                  md:text-[40px]
                  text-dark
                  mb-4
                  "
                  >
                  Our Awesome Team
               </h2>
               <p class="text-base text-body-color">
                  There are many variations of passages of Lorem Ipsum available
                  but the majority have suffered alteration in some form.
               </p>
            </div>
         </div>
      </div>
      <div class="flex flex-wrap justify-center -mx-4">
         <div class="w-full md:w-1/2 xl:w-1/4 px-4">
            <div class="max-w-[370px] w-full mx-auto mb-10">
               <div class="relative rounded-lg overflow-hidden">
                  <img
                     src="https://cdn.tailgrids.com/1.0/assets/images/team/team-01/image-01.jpg"
                     alt="image"
                     class="w-full"
                     />
                  <div class="absolute w-full bottom-5 left-0 text-center">
                     <div
                        class="
                        bg-white
                        relative
                        rounded-lg
                        overflow-hidden
                        mx-5
                        py-5
                        px-3
                        "
                        >
                        <h3 class="text-base font-semibold text-dark">
                           Coriss Ambady
                        </h3>
                        <p class="text-sm text-body-color">Web Developer</p>
                        <div>
                           <span class="absolute left-0 bottom-0">
                              <svg
                                 width="61"
                                 height="30"
                                 viewBox="0 0 61 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg"
                                 >
                                 <circle
                                    cx="16"
                                    cy="45"
                                    r="45"
                                    fill="#13C296"
                                    fill-opacity="0.11"
                                    />
                              </svg>
                           </span>
                           <span class="absolute top-0 right-0">
                              <svg
                                 width="20"
                                 height="25"
                                 viewBox="0 0 20 25"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg"
                                 >
                                 <circle
                                    cx="0.706257"
                                    cy="24.3533"
                                    r="0.646687"
                                    transform="rotate(-90 0.706257 24.3533)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="6.39669"
                                    cy="24.3533"
                                    r="0.646687"
                                    transform="rotate(-90 6.39669 24.3533)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="12.0881"
                                    cy="24.3533"
                                    r="0.646687"
                                    transform="rotate(-90 12.0881 24.3533)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="17.7785"
                                    cy="24.3533"
                                    r="0.646687"
                                    transform="rotate(-90 17.7785 24.3533)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="0.706257"
                                    cy="18.6624"
                                    r="0.646687"
                                    transform="rotate(-90 0.706257 18.6624)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="6.39669"
                                    cy="18.6624"
                                    r="0.646687"
                                    transform="rotate(-90 6.39669 18.6624)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="12.0881"
                                    cy="18.6624"
                                    r="0.646687"
                                    transform="rotate(-90 12.0881 18.6624)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="17.7785"
                                    cy="18.6624"
                                    r="0.646687"
                                    transform="rotate(-90 17.7785 18.6624)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="0.706257"
                                    cy="12.9717"
                                    r="0.646687"
                                    transform="rotate(-90 0.706257 12.9717)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="6.39669"
                                    cy="12.9717"
                                    r="0.646687"
                                    transform="rotate(-90 6.39669 12.9717)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="12.0881"
                                    cy="12.9717"
                                    r="0.646687"
                                    transform="rotate(-90 12.0881 12.9717)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="17.7785"
                                    cy="12.9717"
                                    r="0.646687"
                                    transform="rotate(-90 17.7785 12.9717)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="0.706257"
                                    cy="7.28077"
                                    r="0.646687"
                                    transform="rotate(-90 0.706257 7.28077)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="6.39669"
                                    cy="7.28077"
                                    r="0.646687"
                                    transform="rotate(-90 6.39669 7.28077)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="12.0881"
                                    cy="7.28077"
                                    r="0.646687"
                                    transform="rotate(-90 12.0881 7.28077)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="17.7785"
                                    cy="7.28077"
                                    r="0.646687"
                                    transform="rotate(-90 17.7785 7.28077)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="0.706257"
                                    cy="1.58989"
                                    r="0.646687"
                                    transform="rotate(-90 0.706257 1.58989)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="6.39669"
                                    cy="1.58989"
                                    r="0.646687"
                                    transform="rotate(-90 6.39669 1.58989)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="12.0881"
                                    cy="1.58989"
                                    r="0.646687"
                                    transform="rotate(-90 12.0881 1.58989)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="17.7785"
                                    cy="1.58989"
                                    r="0.646687"
                                    transform="rotate(-90 17.7785 1.58989)"
                                    fill="#3056D3"
                                    />
                              </svg>
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="w-full md:w-1/2 xl:w-1/4 px-4">
            <div class="max-w-[370px] w-full mx-auto mb-10">
               <div class="relative rounded-lg overflow-hidden">
                  <img
                     src="https://cdn.tailgrids.com/1.0/assets/images/team/team-01/image-02.jpg"
                     alt="image"
                     class="w-full"
                     />
                  <div class="absolute w-full bottom-5 left-0 text-center">
                     <div
                        class="
                        bg-white
                        relative
                        rounded-lg
                        overflow-hidden
                        mx-5
                        py-5
                        px-3
                        "
                        >
                        <h3 class="text-base font-semibold text-dark">
                           Glorius Cristian
                        </h3>
                        <p class="text-sm text-body-color">App Developer</p>
                        <div>
                           <span class="absolute left-0 bottom-0">
                              <svg
                                 width="61"
                                 height="30"
                                 viewBox="0 0 61 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg"
                                 >
                                 <circle
                                    cx="16"
                                    cy="45"
                                    r="45"
                                    fill="#13C296"
                                    fill-opacity="0.11"
                                    />
                              </svg>
                           </span>
                           <span class="absolute top-0 right-0">
                              <svg
                                 width="20"
                                 height="25"
                                 viewBox="0 0 20 25"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg"
                                 >
                                 <circle
                                    cx="0.706257"
                                    cy="24.3533"
                                    r="0.646687"
                                    transform="rotate(-90 0.706257 24.3533)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="6.39669"
                                    cy="24.3533"
                                    r="0.646687"
                                    transform="rotate(-90 6.39669 24.3533)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="12.0881"
                                    cy="24.3533"
                                    r="0.646687"
                                    transform="rotate(-90 12.0881 24.3533)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="17.7785"
                                    cy="24.3533"
                                    r="0.646687"
                                    transform="rotate(-90 17.7785 24.3533)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="0.706257"
                                    cy="18.6624"
                                    r="0.646687"
                                    transform="rotate(-90 0.706257 18.6624)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="6.39669"
                                    cy="18.6624"
                                    r="0.646687"
                                    transform="rotate(-90 6.39669 18.6624)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="12.0881"
                                    cy="18.6624"
                                    r="0.646687"
                                    transform="rotate(-90 12.0881 18.6624)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="17.7785"
                                    cy="18.6624"
                                    r="0.646687"
                                    transform="rotate(-90 17.7785 18.6624)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="0.706257"
                                    cy="12.9717"
                                    r="0.646687"
                                    transform="rotate(-90 0.706257 12.9717)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="6.39669"
                                    cy="12.9717"
                                    r="0.646687"
                                    transform="rotate(-90 6.39669 12.9717)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="12.0881"
                                    cy="12.9717"
                                    r="0.646687"
                                    transform="rotate(-90 12.0881 12.9717)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="17.7785"
                                    cy="12.9717"
                                    r="0.646687"
                                    transform="rotate(-90 17.7785 12.9717)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="0.706257"
                                    cy="7.28077"
                                    r="0.646687"
                                    transform="rotate(-90 0.706257 7.28077)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="6.39669"
                                    cy="7.28077"
                                    r="0.646687"
                                    transform="rotate(-90 6.39669 7.28077)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="12.0881"
                                    cy="7.28077"
                                    r="0.646687"
                                    transform="rotate(-90 12.0881 7.28077)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="17.7785"
                                    cy="7.28077"
                                    r="0.646687"
                                    transform="rotate(-90 17.7785 7.28077)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="0.706257"
                                    cy="1.58989"
                                    r="0.646687"
                                    transform="rotate(-90 0.706257 1.58989)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="6.39669"
                                    cy="1.58989"
                                    r="0.646687"
                                    transform="rotate(-90 6.39669 1.58989)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="12.0881"
                                    cy="1.58989"
                                    r="0.646687"
                                    transform="rotate(-90 12.0881 1.58989)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="17.7785"
                                    cy="1.58989"
                                    r="0.646687"
                                    transform="rotate(-90 17.7785 1.58989)"
                                    fill="#3056D3"
                                    />
                              </svg>
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="w-full md:w-1/2 xl:w-1/4 px-4">
            <div class="max-w-[370px] w-full mx-auto mb-10">
               <div class="relative rounded-lg overflow-hidden">
                  <img
                     src="https://cdn.tailgrids.com/1.0/assets/images/team/team-01/image-03.jpg"
                     alt="image"
                     class="w-full"
                     />
                  <div class="absolute w-full bottom-5 left-0 text-center">
                     <div
                        class="
                        bg-white
                        relative
                        rounded-lg
                        overflow-hidden
                        mx-5
                        py-5
                        px-3
                        "
                        >
                        <h3 class="text-base font-semibold text-dark">
                           Jackie Sanders
                        </h3>
                        <p class="text-sm text-body-color">UI/UX Designer</p>
                        <div>
                           <span class="absolute left-0 bottom-0">
                              <svg
                                 width="61"
                                 height="30"
                                 viewBox="0 0 61 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg"
                                 >
                                 <circle
                                    cx="16"
                                    cy="45"
                                    r="45"
                                    fill="#13C296"
                                    fill-opacity="0.11"
                                    />
                              </svg>
                           </span>
                           <span class="absolute top-0 right-0">
                              <svg
                                 width="20"
                                 height="25"
                                 viewBox="0 0 20 25"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg"
                                 >
                                 <circle
                                    cx="0.706257"
                                    cy="24.3533"
                                    r="0.646687"
                                    transform="rotate(-90 0.706257 24.3533)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="6.39669"
                                    cy="24.3533"
                                    r="0.646687"
                                    transform="rotate(-90 6.39669 24.3533)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="12.0881"
                                    cy="24.3533"
                                    r="0.646687"
                                    transform="rotate(-90 12.0881 24.3533)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="17.7785"
                                    cy="24.3533"
                                    r="0.646687"
                                    transform="rotate(-90 17.7785 24.3533)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="0.706257"
                                    cy="18.6624"
                                    r="0.646687"
                                    transform="rotate(-90 0.706257 18.6624)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="6.39669"
                                    cy="18.6624"
                                    r="0.646687"
                                    transform="rotate(-90 6.39669 18.6624)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="12.0881"
                                    cy="18.6624"
                                    r="0.646687"
                                    transform="rotate(-90 12.0881 18.6624)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="17.7785"
                                    cy="18.6624"
                                    r="0.646687"
                                    transform="rotate(-90 17.7785 18.6624)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="0.706257"
                                    cy="12.9717"
                                    r="0.646687"
                                    transform="rotate(-90 0.706257 12.9717)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="6.39669"
                                    cy="12.9717"
                                    r="0.646687"
                                    transform="rotate(-90 6.39669 12.9717)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="12.0881"
                                    cy="12.9717"
                                    r="0.646687"
                                    transform="rotate(-90 12.0881 12.9717)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="17.7785"
                                    cy="12.9717"
                                    r="0.646687"
                                    transform="rotate(-90 17.7785 12.9717)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="0.706257"
                                    cy="7.28077"
                                    r="0.646687"
                                    transform="rotate(-90 0.706257 7.28077)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="6.39669"
                                    cy="7.28077"
                                    r="0.646687"
                                    transform="rotate(-90 6.39669 7.28077)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="12.0881"
                                    cy="7.28077"
                                    r="0.646687"
                                    transform="rotate(-90 12.0881 7.28077)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="17.7785"
                                    cy="7.28077"
                                    r="0.646687"
                                    transform="rotate(-90 17.7785 7.28077)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="0.706257"
                                    cy="1.58989"
                                    r="0.646687"
                                    transform="rotate(-90 0.706257 1.58989)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="6.39669"
                                    cy="1.58989"
                                    r="0.646687"
                                    transform="rotate(-90 6.39669 1.58989)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="12.0881"
                                    cy="1.58989"
                                    r="0.646687"
                                    transform="rotate(-90 12.0881 1.58989)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="17.7785"
                                    cy="1.58989"
                                    r="0.646687"
                                    transform="rotate(-90 17.7785 1.58989)"
                                    fill="#3056D3"
                                    />
                              </svg>
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="w-full md:w-1/2 xl:w-1/4 px-4">
            <div class="max-w-[370px] w-full mx-auto mb-10">
               <div class="relative rounded-lg overflow-hidden">
                  <img
                     src="https://cdn.tailgrids.com/1.0/assets/images/team/team-01/image-04.jpg"
                     alt="image"
                     class="w-full"
                     />
                  <div class="absolute w-full bottom-5 left-0 text-center">
                     <div
                        class="
                        bg-white
                        relative
                        rounded-lg
                        overflow-hidden
                        mx-5
                        py-5
                        px-3
                        "
                        >
                        <h3 class="text-base font-semibold text-dark">
                           Nikolas Brooten
                        </h3>
                        <p class="text-sm text-body-color">Sales Manager</p>
                        <div>
                           <span class="absolute left-0 bottom-0">
                              <svg
                                 width="61"
                                 height="30"
                                 viewBox="0 0 61 30"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg"
                                 >
                                 <circle
                                    cx="16"
                                    cy="45"
                                    r="45"
                                    fill="#13C296"
                                    fill-opacity="0.11"
                                    />
                              </svg>
                           </span>
                           <span class="absolute top-0 right-0">
                              <svg
                                 width="20"
                                 height="25"
                                 viewBox="0 0 20 25"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg"
                                 >
                                 <circle
                                    cx="0.706257"
                                    cy="24.3533"
                                    r="0.646687"
                                    transform="rotate(-90 0.706257 24.3533)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="6.39669"
                                    cy="24.3533"
                                    r="0.646687"
                                    transform="rotate(-90 6.39669 24.3533)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="12.0881"
                                    cy="24.3533"
                                    r="0.646687"
                                    transform="rotate(-90 12.0881 24.3533)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="17.7785"
                                    cy="24.3533"
                                    r="0.646687"
                                    transform="rotate(-90 17.7785 24.3533)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="0.706257"
                                    cy="18.6624"
                                    r="0.646687"
                                    transform="rotate(-90 0.706257 18.6624)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="6.39669"
                                    cy="18.6624"
                                    r="0.646687"
                                    transform="rotate(-90 6.39669 18.6624)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="12.0881"
                                    cy="18.6624"
                                    r="0.646687"
                                    transform="rotate(-90 12.0881 18.6624)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="17.7785"
                                    cy="18.6624"
                                    r="0.646687"
                                    transform="rotate(-90 17.7785 18.6624)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="0.706257"
                                    cy="12.9717"
                                    r="0.646687"
                                    transform="rotate(-90 0.706257 12.9717)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="6.39669"
                                    cy="12.9717"
                                    r="0.646687"
                                    transform="rotate(-90 6.39669 12.9717)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="12.0881"
                                    cy="12.9717"
                                    r="0.646687"
                                    transform="rotate(-90 12.0881 12.9717)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="17.7785"
                                    cy="12.9717"
                                    r="0.646687"
                                    transform="rotate(-90 17.7785 12.9717)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="0.706257"
                                    cy="7.28077"
                                    r="0.646687"
                                    transform="rotate(-90 0.706257 7.28077)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="6.39669"
                                    cy="7.28077"
                                    r="0.646687"
                                    transform="rotate(-90 6.39669 7.28077)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="12.0881"
                                    cy="7.28077"
                                    r="0.646687"
                                    transform="rotate(-90 12.0881 7.28077)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="17.7785"
                                    cy="7.28077"
                                    r="0.646687"
                                    transform="rotate(-90 17.7785 7.28077)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="0.706257"
                                    cy="1.58989"
                                    r="0.646687"
                                    transform="rotate(-90 0.706257 1.58989)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="6.39669"
                                    cy="1.58989"
                                    r="0.646687"
                                    transform="rotate(-90 6.39669 1.58989)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="12.0881"
                                    cy="1.58989"
                                    r="0.646687"
                                    transform="rotate(-90 12.0881 1.58989)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="17.7785"
                                    cy="1.58989"
                                    r="0.646687"
                                    transform="rotate(-90 17.7785 1.58989)"
                                    fill="#3056D3"
                                    />
                              </svg>
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- ====== Team Section End -->


<!-- ====== Testimonials Section Start -->
<section class="pt-20 lg:pt-[120px] pb-20 lg:pb-[120px]">
   <div class="container">
         <div class="flex justify-center relative">
            <div
               class="
               w-full
               md:w-11/12
               lg:w-10/12
               xl:w-8/12
               relative
               pb-16
               xl:pb-0
               "
               >
               <div
                  class="
                  snap
                  w-full
                  max-w-[300px]
                  xs:max-w-[368px]
                  sm:max-w-[508px]
                  md:max-w-[630px]
                  lg:max-w-[738px]
                  2xl:max-w-[850px]
                  mx-auto
                  h-auto
                  flex flex-no-wrap
                  overflow-hidden
                  transition-all
                  "
                  x-ref="carousel"
                  >
                  <div
                     class="
                     min-w-[300px]
                     xs:min-w-[368px]
                     sm:min-w-[508px]
                     md:min-w-[630px]
                     lg:min-w-[738px]
                     2xl:min-w-[850px]
                     mx-auto
                     h-full
                     sm:p-6
                     "
                     >
                     <div class="w-full md:flex items-center">
                        <div
                           class="
                           max-w-[310px]
                           md:max-w-[250px]
                           lg:max-w-[280px]
                           w-full
                           md:mr-12
                           lg:mr-14
                           2xl:mr-16
                           mb-12
                           md:mb-0
                           relative
                           "
                           >
                           <img
                              src="https://cdn.tailgrids.com/1.0/assets/images/testimonials/testimonial-01/image-01.jpg"
                              alt="image"
                              class="w-full"
                              />
                           <span
                              class="absolute z-[-1] -top-6 -left-6 hidden sm:block"
                              >
                              <svg
                                 width="77"
                                 height="77"
                                 viewBox="0 0 77 77"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg"
                                 >
                                 <circle
                                    cx="1.66343"
                                    cy="74.5221"
                                    r="1.66343"
                                    transform="rotate(-90 1.66343 74.5221)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="1.66343"
                                    cy="30.94"
                                    r="1.66343"
                                    transform="rotate(-90 1.66343 30.94)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="16.3016"
                                    cy="74.5221"
                                    r="1.66343"
                                    transform="rotate(-90 16.3016 74.5221)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="16.3016"
                                    cy="30.94"
                                    r="1.66343"
                                    transform="rotate(-90 16.3016 30.94)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="30.9398"
                                    cy="74.5221"
                                    r="1.66343"
                                    transform="rotate(-90 30.9398 74.5221)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="30.9398"
                                    cy="30.94"
                                    r="1.66343"
                                    transform="rotate(-90 30.9398 30.94)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="45.578"
                                    cy="74.5221"
                                    r="1.66343"
                                    transform="rotate(-90 45.578 74.5221)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="45.578"
                                    cy="30.94"
                                    r="1.66343"
                                    transform="rotate(-90 45.578 30.94)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="60.2162"
                                    cy="74.5216"
                                    r="1.66343"
                                    transform="rotate(-90 60.2162 74.5216)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="74.6634"
                                    cy="74.5216"
                                    r="1.66343"
                                    transform="rotate(-90 74.6634 74.5216)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="60.2162"
                                    cy="30.9398"
                                    r="1.66343"
                                    transform="rotate(-90 60.2162 30.9398)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="74.6634"
                                    cy="30.9398"
                                    r="1.66343"
                                    transform="rotate(-90 74.6634 30.9398)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="1.66343"
                                    cy="59.8839"
                                    r="1.66343"
                                    transform="rotate(-90 1.66343 59.8839)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="1.66343"
                                    cy="16.3017"
                                    r="1.66343"
                                    transform="rotate(-90 1.66343 16.3017)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="16.3016"
                                    cy="59.8839"
                                    r="1.66343"
                                    transform="rotate(-90 16.3016 59.8839)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="16.3016"
                                    cy="16.3017"
                                    r="1.66343"
                                    transform="rotate(-90 16.3016 16.3017)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="30.9398"
                                    cy="59.8839"
                                    r="1.66343"
                                    transform="rotate(-90 30.9398 59.8839)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="30.9398"
                                    cy="16.3017"
                                    r="1.66343"
                                    transform="rotate(-90 30.9398 16.3017)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="45.578"
                                    cy="59.8839"
                                    r="1.66343"
                                    transform="rotate(-90 45.578 59.8839)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="45.578"
                                    cy="16.3017"
                                    r="1.66343"
                                    transform="rotate(-90 45.578 16.3017)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="60.2162"
                                    cy="59.8839"
                                    r="1.66343"
                                    transform="rotate(-90 60.2162 59.8839)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="74.6634"
                                    cy="59.8839"
                                    r="1.66343"
                                    transform="rotate(-90 74.6634 59.8839)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="60.2162"
                                    cy="16.3017"
                                    r="1.66343"
                                    transform="rotate(-90 60.2162 16.3017)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="74.6634"
                                    cy="16.3017"
                                    r="1.66343"
                                    transform="rotate(-90 74.6634 16.3017)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="1.66343"
                                    cy="45.2455"
                                    r="1.66343"
                                    transform="rotate(-90 1.66343 45.2455)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="1.66343"
                                    cy="1.66342"
                                    r="1.66343"
                                    transform="rotate(-90 1.66343 1.66342)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="16.3016"
                                    cy="45.2455"
                                    r="1.66343"
                                    transform="rotate(-90 16.3016 45.2455)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="16.3016"
                                    cy="1.66342"
                                    r="1.66343"
                                    transform="rotate(-90 16.3016 1.66342)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="30.9398"
                                    cy="45.2455"
                                    r="1.66343"
                                    transform="rotate(-90 30.9398 45.2455)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="30.9398"
                                    cy="1.66342"
                                    r="1.66343"
                                    transform="rotate(-90 30.9398 1.66342)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="45.578"
                                    cy="45.2455"
                                    r="1.66343"
                                    transform="rotate(-90 45.578 45.2455)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="45.578"
                                    cy="1.66344"
                                    r="1.66343"
                                    transform="rotate(-90 45.578 1.66344)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="60.2162"
                                    cy="45.2458"
                                    r="1.66343"
                                    transform="rotate(-90 60.2162 45.2458)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="74.6634"
                                    cy="45.2458"
                                    r="1.66343"
                                    transform="rotate(-90 74.6634 45.2458)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="60.2162"
                                    cy="1.66371"
                                    r="1.66343"
                                    transform="rotate(-90 60.2162 1.66371)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="74.6634"
                                    cy="1.66371"
                                    r="1.66343"
                                    transform="rotate(-90 74.6634 1.66371)"
                                    fill="#3056D3"
                                    />
                              </svg>
                           </span>
                           <span class="absolute z-[-1] -bottom-6 -right-6">
                              <svg
                                 width="64"
                                 height="64"
                                 viewBox="0 0 64 64"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg"
                                 >
                                 <path
                                    d="M3 32C3 15.9837 15.9837 3 32 3C48.0163 2.99999 61 15.9837 61 32C61 48.0163 48.0163 61 32 61C15.9837 61 3 48.0163 3 32Z"
                                    stroke="#13C296"
                                    stroke-width="6"
                                    />
                              </svg>
                           </span>
                        </div>
                        <div class="w-full">
                           <div>
                              <div class="mb-7">
                                 <img
                                    src="https://cdn.tailgrids.com/1.0/assets/images/testimonials/testimonial-01/lineicon.svg"
                                    alt="lineicon"
                                    />
                              </div>
                              <p
                                 class="
                                 font-medium
                                 italic
                                 text-body-color text-base
                                 sm:text-lg
                                 mb-11
                                 "
                                 >
                                 Velit est sit voluptas eum sapiente omnis! Porro,
                                 impedit minus quam reprehenderit tempore sint quaerat
                                 id! Mollitia perspiciatis est asperiores commodi
                                 labore!
                              </p>
                              <h4 class="font-semibold text-dark text-xl">
                                 Larry Diamond
                              </h4>
                              <p class="text-body-color text-base">
                                 Chief Executive Officer.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div
                     class="
                     min-w-[300px]
                     xs:min-w-[368px]
                     sm:min-w-[508px]
                     md:min-w-[630px]
                     lg:min-w-[738px]
                     2xl:min-w-[850px]
                     mx-auto
                     h-full
                     sm:p-6
                     "
                     >
                     <div class="w-full md:flex items-center">
                        <div
                           class="
                           max-w-[310px]
                           md:max-w-[250px]
                           lg:max-w-[280px]
                           w-full
                           md:mr-12
                           lg:mr-14
                           2xl:mr-16
                           mb-12
                           md:mb-0
                           relative
                           "
                           >
                           <img
                              src="https://cdn.tailgrids.com/1.0/assets/images/testimonials/testimonial-01/image-01.jpg"
                              alt="image"
                              class="w-full"
                              />
                           <span
                              class="absolute z-[-1] -top-6 -left-6 hidden sm:block"
                              >
                              <svg
                                 width="77"
                                 height="77"
                                 viewBox="0 0 77 77"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg"
                                 >
                                 <circle
                                    cx="1.66343"
                                    cy="74.5221"
                                    r="1.66343"
                                    transform="rotate(-90 1.66343 74.5221)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="1.66343"
                                    cy="30.94"
                                    r="1.66343"
                                    transform="rotate(-90 1.66343 30.94)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="16.3016"
                                    cy="74.5221"
                                    r="1.66343"
                                    transform="rotate(-90 16.3016 74.5221)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="16.3016"
                                    cy="30.94"
                                    r="1.66343"
                                    transform="rotate(-90 16.3016 30.94)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="30.9398"
                                    cy="74.5221"
                                    r="1.66343"
                                    transform="rotate(-90 30.9398 74.5221)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="30.9398"
                                    cy="30.94"
                                    r="1.66343"
                                    transform="rotate(-90 30.9398 30.94)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="45.578"
                                    cy="74.5221"
                                    r="1.66343"
                                    transform="rotate(-90 45.578 74.5221)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="45.578"
                                    cy="30.94"
                                    r="1.66343"
                                    transform="rotate(-90 45.578 30.94)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="60.2162"
                                    cy="74.5216"
                                    r="1.66343"
                                    transform="rotate(-90 60.2162 74.5216)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="74.6634"
                                    cy="74.5216"
                                    r="1.66343"
                                    transform="rotate(-90 74.6634 74.5216)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="60.2162"
                                    cy="30.9398"
                                    r="1.66343"
                                    transform="rotate(-90 60.2162 30.9398)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="74.6634"
                                    cy="30.9398"
                                    r="1.66343"
                                    transform="rotate(-90 74.6634 30.9398)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="1.66343"
                                    cy="59.8839"
                                    r="1.66343"
                                    transform="rotate(-90 1.66343 59.8839)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="1.66343"
                                    cy="16.3017"
                                    r="1.66343"
                                    transform="rotate(-90 1.66343 16.3017)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="16.3016"
                                    cy="59.8839"
                                    r="1.66343"
                                    transform="rotate(-90 16.3016 59.8839)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="16.3016"
                                    cy="16.3017"
                                    r="1.66343"
                                    transform="rotate(-90 16.3016 16.3017)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="30.9398"
                                    cy="59.8839"
                                    r="1.66343"
                                    transform="rotate(-90 30.9398 59.8839)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="30.9398"
                                    cy="16.3017"
                                    r="1.66343"
                                    transform="rotate(-90 30.9398 16.3017)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="45.578"
                                    cy="59.8839"
                                    r="1.66343"
                                    transform="rotate(-90 45.578 59.8839)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="45.578"
                                    cy="16.3017"
                                    r="1.66343"
                                    transform="rotate(-90 45.578 16.3017)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="60.2162"
                                    cy="59.8839"
                                    r="1.66343"
                                    transform="rotate(-90 60.2162 59.8839)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="74.6634"
                                    cy="59.8839"
                                    r="1.66343"
                                    transform="rotate(-90 74.6634 59.8839)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="60.2162"
                                    cy="16.3017"
                                    r="1.66343"
                                    transform="rotate(-90 60.2162 16.3017)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="74.6634"
                                    cy="16.3017"
                                    r="1.66343"
                                    transform="rotate(-90 74.6634 16.3017)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="1.66343"
                                    cy="45.2455"
                                    r="1.66343"
                                    transform="rotate(-90 1.66343 45.2455)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="1.66343"
                                    cy="1.66342"
                                    r="1.66343"
                                    transform="rotate(-90 1.66343 1.66342)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="16.3016"
                                    cy="45.2455"
                                    r="1.66343"
                                    transform="rotate(-90 16.3016 45.2455)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="16.3016"
                                    cy="1.66342"
                                    r="1.66343"
                                    transform="rotate(-90 16.3016 1.66342)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="30.9398"
                                    cy="45.2455"
                                    r="1.66343"
                                    transform="rotate(-90 30.9398 45.2455)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="30.9398"
                                    cy="1.66342"
                                    r="1.66343"
                                    transform="rotate(-90 30.9398 1.66342)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="45.578"
                                    cy="45.2455"
                                    r="1.66343"
                                    transform="rotate(-90 45.578 45.2455)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="45.578"
                                    cy="1.66344"
                                    r="1.66343"
                                    transform="rotate(-90 45.578 1.66344)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="60.2162"
                                    cy="45.2458"
                                    r="1.66343"
                                    transform="rotate(-90 60.2162 45.2458)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="74.6634"
                                    cy="45.2458"
                                    r="1.66343"
                                    transform="rotate(-90 74.6634 45.2458)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="60.2162"
                                    cy="1.66371"
                                    r="1.66343"
                                    transform="rotate(-90 60.2162 1.66371)"
                                    fill="#3056D3"
                                    />
                                 <circle
                                    cx="74.6634"
                                    cy="1.66371"
                                    r="1.66343"
                                    transform="rotate(-90 74.6634 1.66371)"
                                    fill="#3056D3"
                                    />
                              </svg>
                           </span>
                           <span class="absolute z-[-1] -bottom-6 -right-6">
                              <svg
                                 width="64"
                                 height="64"
                                 viewBox="0 0 64 64"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg"
                                 >
                                 <path
                                    d="M3 32C3 15.9837 15.9837 3 32 3C48.0163 2.99999 61 15.9837 61 32C61 48.0163 48.0163 61 32 61C15.9837 61 3 48.0163 3 32Z"
                                    stroke="#13C296"
                                    stroke-width="6"
                                    />
                              </svg>
                           </span>
                        </div>
                        <div class="w-full">
                           <div>
                              <div class="mb-7">
                                 <img
                                    src="https://cdn.tailgrids.com/1.0/assets/images/testimonials/testimonial-01/lineicon.svg"
                                    alt="lineicon"
                                    />
                              </div>
                              <p
                                 class="
                                 font-medium
                                 italic
                                 text-body-color text-base
                                 sm:text-lg
                                 mb-11
                                 "
                                 >
                                 Velit est sit voluptas eum sapiente omnis! Porro,
                                 impedit minus quam reprehenderit tempore sint quaerat
                                 id! Mollitia perspiciatis est asperiores commodi
                                 labore!
                              </p>
                              <h4 class="font-semibold text-dark text-xl">
                                 Larry Diamond
                              </h4>
                              <p class="text-body-color text-base">
                                 Chief Executive Officer.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
   </div>
</section>
<!-- ====== Testimonials Section End -->


